h1{
	color:indigo;
	width: 14.23%;
	border: 19.67px;
	margin-top:34.34px;
	padding:24.23px;
}

p { color:#006699;
  font-family: cursive;
  width:100.23%;
}

body {
    background-image: url("paper.gif");
	 }
h1 { font-size:60px; 
    text-align: center;}

h2 { color: yellow;

}
body {
    background-color: red;
}

h1 {
    margin-left: 40px}}
p.solid {border-style: solid;}

ul { 
	color:blue;
}
	